:root{
  --dark-rgb: 28,29,30;
  --dark: rgb(28,29,30);
  --gray-dark-rgb: 50,55,60;
  --gray-dark: rgb(50,55,60);
  --gray: rgb(162,173,194);
  --gray-light: rgb(233,232,235);
  --light: rgb(253,253,255);
  --blue-light: rgb(110, 180, 250);
  --blue: rgb(80, 150, 240);
  --blue-dark: rgb(60, 120, 230);
}

:root {
  font-size: 16px;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  --bs-font-sans-serif: -apple-system, "BlinkMacSystemFont", "Helvetica Neue", Helvetica, "Arial", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

:root[data-theme="light"],
:root:not([data-theme])[data-light-scheme] {
  --bgcolor: var(--bs-light);
  --textcolor: var(--bs-dark);
  --jumbotron-bgcolor: var(--bs-gray-300);
  --bordercolor: rgba(0, 0, 0, 0.1);
  --cardbgcolor: var(--bs-white);
  --refcolor: var(--blue);
  --refhovercolor: var(--blue-dark);
}

:root[data-theme="dark"],
:root:not([data-theme])[data-dark-scheme] {
  --bgcolor: var(--dark);
  --textcolor: var(--bs-gray-200);
  --jumbotron-bgcolor: var(--dark);
  --bordercolor: rgba(255, 255, 255, 0.1);
  --cardbgcolor: rgba(var(--gray-dark-rgb), 0.4);;
  --refcolor: var(--blue-light);
  --refhovercolor: var(--blue);
}

body {
  background-color: var(--bgcolor);
  color: var(--textcolor);
}

nav {
  background-color: rgba(var(--dark-rgb), 0.9); /* 半透明 */
  backdrop-filter: blur(5px); /* 背景ぼかし */
  -webkit-backdrop-filter: blur(5px); /* Safari対応 */
  border: none; /* 枠線を消したい場合 */
}

.navbar-brand {
  /* font-weight: bold; */
  text-decoration: none !important;
}

.navbar-toggler {
  box-shadow: none !important;
}

.navbar .nav-item .nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.navbar .nav-item .nav-link::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
  margin: 0 auto;
  content: "";
  border-bottom-style: solid;
  border-bottom-width: 1px;
  transition: width .2s;
}

@media (hover: hover) and (pointer: fine) {
  .navbar .nav-item .nav-link:hover::before, .navbar .nav-item .nav-link:focus::before {
    width: 100%;
  }
}

a {
  color: var(--refcolor);
  text-decoration: none;
}

a:hover {
  color: var(--refhovercolor);
  text-decoration: underline;
}

.card {
  margin-top: 1em;
  background-color: var(--cardbgcolor);
  border: none;
}

.jumbotron {
  background-color: var(--jumbotron-bgcolor);
  border-color: var(--bordercolor);
  border-bottom-style: solid;
  border-bottom-width: thin;
  padding-top: 2em;
  padding-bottom: 2em;
}

/* 要確認 */
ul, ol {
  padding-left: 1.5em;
  padding-right: 0.5em;
  margin: 0;
  font-size: 0.97em;
} 

.pub li {
  margin-top: 1em;
}
.award {
  color: var(--blue);
}
body {
  overflow-y: scroll;
} 

/* ページ上部に戻るボタンの表示 */
.pagetop {
  height: 2.5em;
  width: 2.5em;
  position: fixed;
  right: 1.5em;
  bottom: 1.5em;
  background: rgba(255,255,255,0.6);
  border: none;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  font-size: 1.25em;
}

/* ライト/ダークモード切替 */
:root {
  --switch-width: 36px;   /* スイッチ全体の幅 */
  --switch-height: 16px;  /* スイッチ全体の高さ */
  --knob-size: calc(var(--switch-height) - 4px); /* ノブは上下2pxの余白を考慮 */
  --knob-offset: 2px;      /* 左右の余白 */
}

.theme-switch {
  cursor: pointer;
  user-select: none;
}

.switch-container {
  width: var(--switch-width);
  height: var(--switch-height);
  background-color: var(--bs-light);
  border-radius: calc(var(--switch-height) / 2);
  position: relative;
  margin: 0 8px;
  transition: background-color 0.3s;
}

.switch-knob {
  width: var(--knob-size);
  height: var(--knob-size);
  background-color: var(--bs-dark);
  border-radius: 50%;
  position: absolute;
  top: var(--knob-offset);
  left: var(--knob-offset);
  transition: left 0.3s;
}

/* ダーク時に右端へ移動 */
[data-theme="dark"] .switch-knob {
  left: calc(var(--switch-width) - var(--knob-size) - var(--knob-offset));
}

#theme-toggle i {
  color: var(--bs-light);  /* CSS変数で固定色にする */
}
